[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aioredis = "*"
hiredis = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
nanoid = "*"
aiohttp = {extras = ["speedups"], version = "*"}

[dev-packages]

[requires]
python_version = "3.9"
